<a href="https://colab.research.google.com/github/alihammad/Python_snippets/blob/master/BigQuery_with_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Mount the Google drive where we are going to upload the credientials file which is later needed for authentication and autherization

In [6]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

#### Go to this page and read the section *Creating a service account* to download your credentials as a json file. 
#### Execute the next cell to upload that the Json file.

In [8]:
from google.colab import files
files.upload()

Saving test-82d4554be7a8.json to test-82d4554be7a8.json

{'test-82d4554be7a8.json': b'{\n  "type": "service_account",\n  "project_id": "serene-athlete-189702",\n  "private_key_id": "82d4554be7a85174cad0ea5a20c289750b3b2cee",\n  "private_key": "-----BEGIN PRIVATE KEY-----\\nMIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgEAAoIBAQDDtnVCZJUIPXUI\\njhtHTeRmX4j+NYcdEq2pGFEZ+3Elqse8CM1Pi7mI5/zxhGW8RspNU1qNHT0x9WcY\\ntrEMjdZen2c5wh2LSz9lyKUs+l8DkKw/PZ9TTvF9t8ugzG7fvb8U0bvdsu4wg5Zr\\nZ182WT6N0ge3Wx336ZDD3mKPEBOYi/7XXmp1m3UWOuTqGHKNCrZkrAplUDtoKqzA\\nlUGCzM5w55F536UQ8CW5HqSzbMJlzNy9hal4GgXp46fuBAGAZXy4KDEDoyZn7e9E\\n8Z7zqg67c9as/b+dXA+QTA1SqsJQfgi/WdQoQ5swX5fOxA4t6NdwY8CxIVCa3nPS\\nQYRX0JU1AgMBAAECggEAGx8b3NmHdZ7eqxLWYOlAb5dpqqDMWpEOE9LU2l7n7Spf\\nh4VIvm9EhN5xRR7t4kuFGXYlpEybAGNbqCcZHf5B6Nb6PRzTb0w8OuS1TyhbJmlU\\nFWd6vta/zIY958iszMDEzCPMfwqey4ZQwA2ROjzf2FN00koEOyjY8OvOiLjXnln6\\nGyuKhuRFK607rfEHLhGnXFRKMYFns7dL7OgPai2Mw0c0JOJKVhyLDKgWWudtzX9o\\n6XKmTGeYsdzYmg4jMfMs/RwsXrL05aMh9RgVDuTb4Gry//G49kfgFNgx9GonLV0+\\nlMPVrw3ELxg55iEVHDTKkl+DUoeaBNcQdnDYj/0bOQKBgQDqE9UkFc+niygdiwd8\\nK7wsrgdYBNJY39WzxPhdbtWH3ehGCdrhUq9ggVsyQQ3g1B+vIZg17Pi7a21QCPkb\\nix1maZ1pIut9fwWX5mkons08TfsbGpsubRMVV7YYK1ZLdA6noPJ65arcj8FajNxf\\nX1ZV1bTNPpsYLxb9kOcRlPsMJwKBgQDWCs3y0Frhq7QHuAGnMsYRzcRdbNlnfXrP\\nfCYZZvq+kuKsHmAAcq91abx8AKr3wTkXCOnLSj6+h4039f2dZpXbx/9+AGtWz4my\\n3CLQOPWMiu6+FWF4cJXrX8I+/O7GXSC8yN7obaBgdNv/oRhbKoXpo97ECNndpPgw\\nluTgq1XBQwKBgD4HiWjpmsCkYLoLeK1QDaqtZ2bMyE0i68eav9JKp608gevleqpR\\nNgZV4SvdD2dv7wGC3ooTxQoteqdF6XWCFQVpoXwV89+qxHmvZliMVIjRhWR2VX8l\\nCnSSbL/U5CZUl/mV7gvhRrjyI2PyhgeEBSXz3tiw6XqsJ+SD/KetGiXrAoGADQmr\\ncdbvMj/bP30d3KljF0KJa4dt1rf1+x181J9JNsKLvCA9iMlzlptSN9tyjpTefWC1\\nnQRwvfpTx8zcHfJZvoF4Npyf7THHGXX/SN+vVVhBIqL6xPNWrneuxVdy0/JoRBeY\\nPGAxHK8Bl5igey0j6w9oSlifrLiXxZ3rYyQMnTECgYBGP6P/KypBAdOBzQPcvbS3\\nmjoPedNEdIbCnJhErsUfm0NWV/H6U71o6AfkjShz+AuSrsK6wgFUKruzNi/KEkrO\\nKSWe8Y93B2H4ZR2yRD95ImQc5fgxMbMomXcnu6+m1UzpgfP+7FGYNLW2o1w8lzcE\\n62Rs2vaibBDlmdfeUrBoCA==\\n-----END PRIVATE KEY-----\\n",\n  "client_email": "colab-683@serene-athlete-189702.iam.gserviceaccount.com",\n  "client_id": "112285573174152753375",\n  "auth_uri": "https://accounts.google.com/o/oauth2/auth",\n  "token_uri": "https://oauth2.googleapis.com/token",\n  "auth_provider_x509_cert_url": "https://www.googleapis.com/oauth2/v1/certs",\n  "client_x509_cert_url": "https://www.googleapis.com/robot/v1/metadata/x509/colab-683%40serene-athlete-189702.iam.gserviceaccount.com"\n}\n'}

### Set the credientials file in the environment

In [0]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = "test-82d4554be7a8.json"

In [0]:
from google.cloud import bigquery

In [0]:
client = bigquery.Client()

In [0]:
# Construct a reference to the "hacker_news" dataset
dataset_ref = client.dataset("hacker_news", project="bigquery-public-data")

# API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

In [14]:
# List all the tables in the "hacker_news" dataset
tables = list(client.list_tables(dataset))

# Print names of all tables in the dataset (there are four!)
for table in tables:  
    print(table.table_id)

comments
full
full_201510
stories

In [0]:
# Construct a reference to the "full" table
table_ref = dataset_ref.table("full")

# API request - fetch the table
table = client.get_table(table_ref)

In [16]:
# Print information on all the columns in the "full" table in the "hacker_news" dataset
table.schema

[SchemaField('title', 'STRING', 'NULLABLE', 'Story title', ()),
 SchemaField('url', 'STRING', 'NULLABLE', 'Story url', ()),
 SchemaField('text', 'STRING', 'NULLABLE', 'Story or comment text', ()),
 SchemaField('dead', 'BOOLEAN', 'NULLABLE', 'Is dead?', ()),
 SchemaField('by', 'STRING', 'NULLABLE', "The username of the item's author.", ()),
 SchemaField('score', 'INTEGER', 'NULLABLE', 'Story score', ()),
 SchemaField('time', 'INTEGER', 'NULLABLE', 'Unix time', ()),
 SchemaField('timestamp', 'TIMESTAMP', 'NULLABLE', 'Timestamp for the unix time', ()),
 SchemaField('type', 'STRING', 'NULLABLE', 'Type of details (comment, comment_ranking, poll, story, job, pollopt)', ()),
 SchemaField('id', 'INTEGER', 'NULLABLE', "The item's unique id.", ()),
 SchemaField('parent', 'INTEGER', 'NULLABLE', 'Parent comment ID', ()),
 SchemaField('descendants', 'INTEGER', 'NULLABLE', 'Number of story or poll descendants', ()),
 SchemaField('ranking', 'INTEGER', 'NULLABLE', 'Comment ranking', ()),
 SchemaField('deleted', 'BOOLEAN', 'NULLABLE', 'Is deleted?', ())]

In [17]:
# Preview the first five lines of the "full" table
client.list_rows(table, max_results=5).to_dataframe()

                                               title  ... deleted
0  Selenoid: lightning fast Docker-based Selenium...  ...    None
1                                               None  ...    None
2                                               None  ...    None
3                                               None  ...    None
4                                               None  ...    None

[5 rows x 14 columns]

In [18]:
# Preview the first five entries in the "by" column of the "full" table
client.list_rows(table, selected_fields=table.schema[:1], max_results=5).to_dataframe()

                                               title
0  Selenoid: lightning fast Docker-based Selenium...
1                                               None
2                                               None
3                                               None
4                                               None