<a href="https://colab.research.google.com/github/alihammad/Python_snippets/blob/master/Kaggle_datasets_on_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

How do you easily move your datasets from Kaggle into Google Colab without a lot of complicated madness?

Let's see.


**Step1** Login to your Kaggle account and got to *My Account*

![alt text](https://drive.google.com/open?id=1LI-ppbbQtouo7jAuCd6JzIHncaZDKpmZ)!

In [0]:
!pip install kaggle

Requirement already satisfied: kaggle in /usr/local/lib/python3.6/dist-packages (1.5.5)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.6/dist-packages (from kaggle) (3.0.3)
Requirement already satisfied: requests in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.21.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from kaggle) (2.5.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.12.0)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: certifi in /usr/local/lib/python3.6/dist-packages (from kaggle) (2019.6.16)
Requirement already satisfied: tqdm in /usr/local/lib/python3.6/dist-packages (from kaggle) (4.28.1)
Requirement already satisfied: text-unidecode==1.2 in /usr/local/lib/python3.6/dist-packages (from python-slugify->kaggle) (1.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests->kaggle) (2.8)

**Install Kaggle package**

In [0]:
!ls -la ~/.kaggle

total 12
drwxr-xr-x 2 root root 4096 Sep 26 05:27 .
drwx------ 1 root root 4096 Sep 26 05:27 ..

**create directory to store kaggle API token JSON file**

In [0]:
import json
import zipfile
import os

!mkdir .kaggle

In [0]:
api_token = {"username":"alibaig","key":"PROVIDE_YOUR_KAGGLE_KEY_HERE"}

with open('/content/.kaggle/kaggle.json', 'w') as file:
    json.dump(api_token, file)

In [0]:
cp /content/.kaggle/kaggle.json ~/.kaggle/kaggle.json

In [0]:
!kaggle config set -n path -v{/content}

Warning: Your Kaggle API key is readable by other users on this system! To fix this, you can run 'chmod 600 /root/.kaggle/kaggle.json'
- path is now set to: {/content}

In [0]:
!chmod 600 /root/.kaggle/kaggle.json

In [0]:
!kaggle datasets list

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                                       title                                              size  lastUpdated          downloadCount
--------------------------------------------------------  ------------------------------------------------  -----  -------------------  -------------
therohk/ireland-historical-news                           The Irish Times - Waxy-Wany News                   47MB  2019-08-24 15:36:54           2060
dgomonov/new-york-city-airbnb-open-data                   New York City Airbnb Open Data                      2MB  2019-08-12 16:24:45          18481
lakshyaag/india-trade-data                                India - Trade Data                                  1MB  2019-08-16 16:13:58           9288
bradklassen/pga-tour-20102018-data                        PGA Tour Golf Data                                 94MB  2019-08-30 00:09:59           6283
r3w0p4/bournemouth-venues                                 Venues in Bournemouth                               3KB  2019-07-08 14:26:48           1514
AnalyzeBoston/crimes-in-boston                            Crimes in Boston                                   10MB  2018-09-04 17:56:03          20940
dareenalharthi/jamalon-arabic-books-dataset               Jamalon Arabic Books Dataset                        1MB  2019-08-15 18:58:06            496
samhiatt/xenocanto-avian-vocalizations-canv-usa           Avian Vocalizations from CA & NV, USA               1GB  2019-08-10 00:16:10            345
codersree/mount-rainier-weather-and-climbing-data         Mount Rainier Weather and Climbing Data            25KB  2019-08-27 23:33:36           1629
citizen-ds-ghana/health-facilities-gh                     Ghana Health Facilities                            84KB  2018-09-03 01:19:24           2245
doit-intl/autotel-shared-car-locations                    Shared Cars Locations                              78MB  2019-01-10 13:06:00           2692
jolasa/waves-measuring-buoys-data-mooloolaba              Waves Measuring Buoys Data                        599KB  2019-07-07 16:59:44           2718
ma7555/schengen-visa-stats                                Schengen Visa Stats 2017/2018                       1MB  2019-07-25 10:55:37           1443
lishuyangkaggle/cocktails-hotaling-co                     Cocktails (Hotaling & Co.)                         75KB  2019-07-08 23:49:34           1385
Madgrades/uw-madison-courses                              UW Madison Courses and Grades 2006-2017            90MB  2018-05-15 18:58:25           2023
inIT-OWL/vega-shrinkwrapper-runtofailure-data             Vega shrink-wrapper component degradation         408KB  2018-11-12 13:03:43            441
martj42/international-football-results-from-1872-to-2017  International football results from 1872 to 2019  523KB  2019-07-22 17:03:13          20851
citylines/city-lines                                      Transit systems of world                            3MB  2019-03-25 16:53:05           3569
datafiniti/pizza-restaurants-and-the-pizza-they-sell      Pizza Restaurants and the Pizza They Sell         865KB  2019-05-30 00:21:21           9824
university-of-edinburgh/peace-agreements-dataset          Peace Agreements Dataset                            1MB  2018-03-05 16:39:50           1242

In [0]:
!kaggle datasets list -s sentiment

Warning: Looks like you're using an outdated API Version, please consider updating (server 1.5.6 / client 1.5.4)
ref                                                    title                                          size  lastUpdated          downloadCount
-----------------------------------------------------  --------------------------------------------  -----  -------------------  -------------
crowdflower/twitter-airline-sentiment                  Twitter US Airline Sentiment                     0B  2016-10-06 03:11:23          30760
harriken/emoji-sentiment                               Emoji sentiment                                12MB  2017-10-01 09:56:54           2098
bittlingmayer/amazonreviews                            Amazon Reviews for Sentiment Analysis         493MB  2017-05-24 13:05:13          17313
kazanova/sentiment140                                  Sentiment140 dataset with 1.6 million tweets   81MB  2017-09-13 22:43:19          17626
crowdflower/first-gop-debate-twitter-sentiment         First GOP Debate Twitter Sentiment               0B  2016-10-06 03:19:29          14374
marklvl/sentiment-labelled-sentences-data-set          Sentiment Labelled Sentences Data Set         162KB  2018-04-24 21:20:20           2901
cjroth/chronist                                        Emotion, Aging, and Sentiment Over Time        13MB  2017-02-12 22:44:03           1167
arkhoshghalb/twitter-sentiment-analysis-hatred-speech  Twitter Sentiment Analysis                      2MB  2019-01-06 05:00:19            999
welkin10/airline-sentiment                             Airline sentiment                               1MB  2018-05-27 07:23:18            367
iarunava/imdb-movie-reviews-dataset                    IMDB Movie Reviews Dataset                    114MB  2018-07-25 08:11:18           9059
rtatman/sentiment-lexicons-for-81-languages            Sentiment Lexicons for 81 Languages             2MB  2017-09-13 19:59:05           4293
sonaam1234/sentimentdata                               Sentiment Analysis Dataset                       0B  2016-11-26 16:26:05           1957
thomasseleck/emoji-sentiment-data                      Emoji sentiment data                           33KB  2019-03-01 22:41:15            177
mksaad/arabic-sentiment-twitter-corpus                 Arabic Sentiment Twitter Corpus                 2MB  2019-04-13 18:07:18            319
tentotheminus9/religious-and-philosophical-texts       Religious and philosophical texts                0B  2016-09-07 12:36:01           1945
rtatman/thai-sentiment-analysis-toolkit                Thai Sentiment Analysis Toolkit                 8KB  2017-09-06 20:32:55            482
harriken/bias-media-cat                                Bias Media CAT                                 17MB  2017-10-27 22:46:25            283
rahulin05/sentiment-labelled-sentences-data-set        Sentiment Labelled Sentences Data Set          80KB  2017-08-31 14:07:09            962
rtatman/german-sentiment-analysis-toolkit              German Sentiment Analysis Toolkit              84KB  2017-08-15 22:54:27            685
paul92s/bitcoin-tweets-14m                             Bitcoin Tweets 1.4M                           103MB  2018-08-04 15:47:51            266

In [0]:
!kaggle datasets download -d marcomolina/water-consumption-in-a-median-size-city -p /content

Downloading water-consumption-in-a-median-size-city.zip to /content
 54% 5.00M/9.23M [00:00<00:00, 22.9MB/s]
100% 9.23M/9.23M [00:00<00:00, 36.5MB/s]

In [0]:
!unzip \*.zip

Archive:  water-consumption-in-a-median-size-city.zip
  inflating: AguaH.csv

In [0]:
import pandas as pd
d = pd.read_csv('AguaH.csv')
d.head()

  USO2013                     TU   DC  ... f.1_OCT_15  f.1_NOV_15  f.1_DIC_15
0      H3        DOMESTICO MEDIO  0.5  ...       27.0        22.0        21.0
1      H3        DOMESTICO MEDIO  0.5  ...       17.0        17.0        11.0
2      H3  DOMESTICO RESIDENCIAL  0.5  ...        9.0         6.0         3.0
3      H3        DOMESTICO MEDIO  0.5  ...       17.0        18.0         9.0
4      H3  DOMESTICO RESIDENCIAL  0.5  ...       27.0        27.0        24.0

[5 rows x 89 columns]